# Diretórios
node_modules/
dist/
build/
coverage/

# Arquivos de configuração
*.env
.env.local
.env.development
.env.test
.env.production
.env.*.local

# Arquivos gerados
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências
/.pnp
.pnp.js

# Tipos de arquivo
*.tsbuildinfo

# Arquivos de desenvolvimento
.vscode/
.idea/
*.swp


# Arquivos de sistema
.DS_Store
Thumbs.db
